# Python
__pycache__/
*.pyc
.env

# AI model
models/best.pt

# Node
node_modules/
frontend/node_modules/

# Gradle
.gradle/
android_app/.gradle/

# Temporary files
received_*.jpg
*.part

# Databases
*.db
*.sqlite